Air.Temp. (Ins).png
Atm.Pressu (Ins).png
GPSLat. (Avg.).png
GPSLongit. (Avg.).png
Rel. Hum. (Ins).png
Wind Dir. (Ins).png
Wind Spd. (Ins).png
belem/Data_20241109.csv
belem/Data_20241116.csv
belem/Data_20241120.csv
belem/Data_20241121.csv
belem/Data_20241119.csv
belem/Data_20241122.csv
belem/Data_20241118.csv
ilhabela/Data_20241113.csv
ilhabela/Data_20241115.csv
ilhabela/Data_20241116.csv
ilhabela/Data_20241118.csv
ilhabela/Data_20241114.csv
ilhabela/Data_20241123.csv
ilhabela/Data_20241119.csv

belem/Data_20241115.csv
belem/Data_20241125.csv
belem/belem.txt
ilhabela/Data_20241124.csv
ilhabela/Data_20241117.csv
ilhabela/Data_20241122.csv
ilhabela/Data_20241121.csv
ilhabela/Data_20241125.csv
ilhabela/ilhabela.txt
belem/Data_20241124.csv
belem/Data_20241117.csv
ilhabela/Data_20241120.csv
belem/Data_20241123.csv
